<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="auth">Authentification</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="beers">Bières</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="edit">Ajouter une bière</a></li>
    </ul>
    <div style="color:white;">
      {{secondes}}
    </div>
  </div>
</nav>
<br/>
<br/>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
