<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes bières</h2>
      <ul class="list-group">
        <app-beer [beerName]="beerOne" [beerColor]="beerColorOne"></app-beer>
        <app-beer [beerName]="beerTwo" [beerColor]="beerColorTwo"></app-beer>
        <app-beer [beerName]="beerThree" [beerColor]="beerThree"></app-beer>
      </ul>
      <button class="btn btn-success"
              (click)="onAcheter()"
              [disabled]="!isAuth">Acheter</button>
    </div>
  </div>
</div>
