<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes bières</h2>
      <p>Nous sommes le : {{ actualDate | date:'EEEE, d,MMMM, y' | uppercase }}</p>
      <ul class="list-group">
        <app-beer *ngFor="let beer of beers"
                  [beerName]="beer.name"
                  [beerColor]="beer.color"
                  [isAvailable]="beer.isAvailable"
                  [price]="beer.price"
        ></app-beer>
      </ul>
      <button class="btn btn-success"
              (click)="onAcheter()"
              [disabled]="!isAuth">Acheter
      </button>
      <button class="btn btn-success"
              (click)="onRemplirFut()">Remplir Fut
      </button>
    </div>
  </div>
</div>
